html,
body {
  width: 100%;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: $regular-padding $regular-padding 0;
  position: relative;
}

.is-justified-centered {
  justify-content: center;
}

.is-justified-space-between {
  justify-content: space-between;
}

.is-aligned-center {
  align-items: center;
}

.hint {
  font-size: .7em;
}

.has-regular-margin {
  margin: $regular-margin;
}

.has-regular-padding {
  padding: $regular-padding;
}

.has-double-margin-right {
  margin-right: $regular-margin;
}

.is-wrap {
  flex-wrap: wrap;
}

.has-direction-column {
  flex-direction: column;
}

.has-full-height {
  height: 100%;
}

.has-full-width {
  width: 100%;
}
