.column.is-full
  %h1
    Welcome to landing page
  %div.level
  %div.columns.is-multiline
    %div.column
      %div.box.grey
        %div.heading  
          Top
        %div.title
          Titulo 
        %div.level 
          %div.level-item
            %div
              %div.heading
                Titulo
              %div.title.is-5
                250 K
          %div.level-item
            %div
              %div.heading
                Titulo
              %div.title.is-5
                250 K
          %div.level-item
            %div
              %div.heading
                Titulo
              %div.title.is-5
                250 K
    %div.column
      %div.box.grey
        %div.heading  
          Top
        %div.title
          Titulo 
        %div.level 
          %div.level-item
            %div
              %div.heading
                Titulo
              %div.title.is-5
                250 K
          %div.level-item
            %div
              %div.heading
                Titulo
              %div.title.is-5
                250 K
          %div.level-item
            %div
              %div.heading
                Titulo
              %div.title.is-5
                250 K
    %div.column
      %div.box.grey
        %div.heading  
          Top
        %div.title
          Titulo 
        %div.level 
          %div.level-item
            %div
              %div.heading
                Titulo
              %div.title.is-5
                250 K
          %div.level-item
            %div
              %div.heading
                Titulo
              %div.title.is-5
                250 K
          %div.level-item
            %div
              %div.heading
                Titulo
              %div.title.is-5
                250 K
    %div.column
      %div.box.grey
        %div.heading  
          Top
        %div.title
          Titulo 
        %div.level 
          %div.level-item
            %div
              %div.heading
                Titulo
              %div.title.is-5
                250 K
          %div.level-item
            %div
              %div.heading
                Titulo
              %div.title.is-5
                250 K
          %div.level-item
            %div
              %div.heading
                Titulo
              %div.title.is-5
                250 K
  %div.columns.is-multiline
    %div.column.is-6
      %article.message.is-dark 
        %div.message-header
          %p
            Titulo 
        %div.message-body
          %div{:style => "width: 100%; min-height: 365px;"}
            %div.apexcharts-canvas-apexchartsh02w7nmph.light{:style => "width: 358px; min-height: 350px;"}
              %svg.apexcharts-svg{:height => "247.02439024390247", :transform => "translate(0, 0)", :version => "1.1", :width => "358", :xmlns => "http://www.w3.org/2000/svg", "xmlns:data" => "ApexChartsNS", "xmlns:svgjs" => "http://svgjs.com/svgjs", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                %g.apexcharts-inner.apexcharts-graphical{:transform => "translate(68.5, 0)"}
                  %defs
                    %clipPath
                      %rect{:width=>"225", :height=>"247", :x=>"-1", :y=>"-1", :rx=>"0", :ry=>"0", :fill=>"#ffffff", :opacity=>"1", :stroke=>"none"}