%h1
  Welcome to landing page
=link_to 'Agregar corporación', new_corporation_path


%h2
  Corporaciones
%table
  %tr
    %th
      Nombre
    %th
      Acciones
  - @corporations.each do |corporation|
    %tr
      %td
        = link_to  corporation.name, corporation_path(corporation)
      %td
        = link_to 'Editar', edit_corporation_path(corporation)
      %td
        = link_to 'Eliminar', corporation_path(corporation), method: :delete, data: { confirm: '¿Estás seguro?' }
