%h2
  Enviar invitación
= simple_form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post }) do |f|
  - resource.class.invite_key_fields.each do |field|
    .form-inputs
      = f.input field, placeholder: 'Correo electrónico'
  .form-actions
    = f.button :submit, 'Invitar', class: 'is-primary'
