%p
  Hola #{@resource.email}!
%p Se ha solicitado el restablecimiento de tu contraseña. Puedes continuar atravéz del siguiente enlace
%p= link_to 'Cambiar contraseña', edit_password_url(@resource, reset_password_token: @token)
%p Si tú no has solicitado esto, por favor ignoralo.
