%p
  Hola #{@resource.email}!
%p Tu cuenta ha sido bloqueada debido a un gran numero de intentos de inicio de sesión
%p Sigue el siguiente enlace para desbloquear tu cuenta.
%p= link_to 'Desbloquear mi cuenta', unlock_url(@resource, unlock_token: @token)
